@import '~office-ui-fabric-react/dist/sass/References.scss';

.myLinks {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.button {
  // background-color: "[theme: themeTertiary, default: gray]";
  border: 0px;
  font-size: 14px;
  padding: 2px;
}

//Modal Dialog
.modalWrapper{
  padding: 1rem;
}

.modalLinkTitle{
  margin-left: 10px;
}

.deleteInfo{
  color: red;
}

.modalStyles{
  width: 50vw; 
}

@keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.editForm{
  display: grid;
  column-gap: 1rem;
  align-items: end;
  grid-template-columns: auto auto auto auto;
  background-color: fade-in($color: #f5f5f5, $amount: 1);
  animation: fadeIn 1s;
  padding: 10px;
  margin: 10px;
}

.editFields{
  grid-column: span 2;
  justify-content: center;
}

.editInputFields{
  min-width: 150px;
}

.editButtonsContainer{
  margin-top: 30px;
  grid-row: 3 / span 1;
  
}

.saveButtons{
  margin-right: 5px;
}

.editIcon{
  font-size: 40px;
  margin: 0 25px;
}

.iconField{
  grid-column: span 1;
  margin-top: 10px;
}

.newButtons{
  margin-right: 5px;
  border: 1px solid #005aa4;
}

.predefinedLinksContainer{
  padding: 10px;
  margin: 10px;
  background-color: #f5f5f5;
}

.leggtilbutton{
  margin-bottom: 5px;
}

.linkHeader{
  margin: 5px auto 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.lukkButton{
  margin-top: 5px;
}

.editButtonIcon{
  font-size: small;
}